ul, ol {
  font-size:1.2em;
}

ul ul {
  font-size:1em;
}

ol ol {
  font-size:1em;
}

ul {
  list-style: initial;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}