.story-body, .page {
  min-height: 70vh;
}

.blog-meta {
    border-left: 3px solid #ffd100;
    padding: 10px;
    background-color: #fafafa;
    margin-top: 20px;
}

.maincontent {
  margin-bottom: 20px;

  @media (max-width: 768px) {
    figure {
      margin: 0 auto;
      width: 100%;
    }
  }
}