@font-face {
    font-family: 'destroy';
    src: url('assets/fonts/DESTROY-fontsquirrel.eot');
    src: url('assets/fonts/DESTROY-fontsquirrel.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/DESTROY-fontsquirrel.woff') format('woff'),
         url('assets/fonts/DESTROY-fontsquirrel.ttf') format('truetype'),
         url('assets/fonts/DESTROY-fontsquirrel.svg#destroyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: "Open Sans", Arial, sans-serif;
}
