@font-face {
    font-family: 'destroy';
    src: url('assets/fonts/DESTROY-fontsquirrel.eot');
    src: url('assets/fonts/DESTROY-fontsquirrel.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/DESTROY-fontsquirrel.woff') format('woff'),
         url('assets/fonts/DESTROY-fontsquirrel.ttf') format('truetype'),
         url('assets/fonts/DESTROY-fontsquirrel.svg#destroyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}

.maincontent {
  font-size: 1.2em;
}

.maincontent,
.maincontent p,
.maincontent li {
  font-family: "PT Serif", Georgia, serif;
}

.maincontent table {
  font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
  font-family: "Oswald", "Open Sans", Arial, sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

blockquote {
  border-left: 3px solid $color__gold;
}